apiVersion: apps/v1
kind: Deployment
metadata:
  name: upravljanje-prostorov-deployment
  labels:
    app: upravljanje-prostorov
    shared: "true"
spec:
  replicas: 1
  selector:
    matchLabels:
      app: upravljanje-prostorov
  template:
    metadata:
      labels:
        app: upravljanje-prostorov
        shared: "true"
    spec:
      containers:
        - name: upravljanje-prostorov
          image: jantopolovec/upravljanje-prostorov:latest
          ports:
            - containerPort: 8080
              name: server
              protocol: TCP
          livenessProbe:
            httpGet:
              path: health/live
              port: 8080
            initialDelaySeconds: 20
            periodSeconds: 3600
            failureThreshold: 3
          env:
            - name: DB_URL
              valueFrom:
                secretKeyRef:
                  name: my-app-secrets
                  key: DB_URL
            - name: DB_USER
              valueFrom:
                secretKeyRef:
                  name: my-app-secrets
                  key: DB_USER
            - name: DB_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: my-app-secrets
                  key: DB_PASSWORD
            - name: JWT_SECRET
              valueFrom:
                secretKeyRef:
                  name: my-app-secrets
                  key: JWT_SECRET
            - name: WEATHER_API_KEY
              valueFrom:
                secretKeyRef:
                  name: weather-secrets
                  key: WEATHER_API_KEY
---

apiVersion: v1
kind: Service
metadata:
  name: upravljanje-prostorov-service
spec:
  type: ClusterIP
  ports:
    - port: 8080
      protocol: TCP
      targetPort: 8080
  selector:
    app: upravljanje-prostorov